
<nav class="navbar navbar-expand-lg navbar-light" style=" font-family:monospace; background-color: rgb(237, 200, 160); background-blend-mode:soft-light">
  <div class="container">
  
    <a style="font-family: 'Lobster', cursive; color: #555;"class="navbar-brand" href="#" routerLink="/contacts">
      <img src="/assets/zyro-image.png" width="10%">
        
        <b>Phone Book</b>
    </a>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a style="color:#555"class="nav-link active" aria-current="page"
          routerLink="contacts"><b>Contacts</b></a>
        </li>
        <li class="nav-item">
          <a style="color:#555" class="nav-link active" aria-current="page"
          routerLink="contacts/add"><b>Add New Contact</b></a>
        </li>
        
      </ul>
      

    </div>
  </div>
</nav>


<router-outlet></router-outlet>
