body{
    height:150vh;
    font-family:'Poppins',sans-serif;
     
}
::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    background-color: rgb(248, 238, 207) ;
}

::-webkit-scrollbar-thumb{
    background-color:grey;
}

input:invalid{
    animation: shake.3s;
}

@keyframes shake{
    25%{ transform: translate(4px)}
    50%{ transform: translate(-4px)}
    75%{ transform: translate(4px)}
}
.square{
    width:auto;
    height: auto;
    border:solid;
    border-width: 8px;
    border-image-slice:1;
    border-image-source: 
        linear-gradient(
            20deg,
            rgb(239, 231, 113),
            rgb(231, 128, 18)
            
        );

}
 
  h1 {
    font-size: 50px;
    padding: 2.5rem;
    text-align: center;
  }


 